body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.game {
    padding: 10px;
}

.game-board {
    display: inline-block;
    padding: 10px;
}

.timer {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square.occupied {
    border: 3px solid green;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.word-submission {
    padding: 10px;
}

.word-submission button {
    margin-left: -5px;
    text-transform: uppercase;
}

.word-submission .error {
    margin-top: 10px;
    color: red;
}

.score-card {
    padding: 10px;
    font-weight: bold;
}

.submitted-words {
    padding: 10px;
    border: 1px solid grey;
}

.submitted-words .word {
    text-align: center;
    width: 33%;
    display: inline-block;
}

.restart {
    margin-top: 10px;
}
